
*{
    margin: 0;
    padding: 0;
    font-family:'Rubik';
}
.navigation{
height: 30vh;
width: 100%;
background-image: url("../Image/background.jpg.webp");
background-size: cover;
background-position: center;
}
.logo{
font-size: 30px;
color:#e947d9;

}
span{
color:#e947a3;
}
nav{
display:flex;
justify-content: space-between;
align-items: center;
padding-top: 40px;
padding-left: 10%;
padding-right: 10%;
}
nav li{
list-style-type: none;
display: inline-block;
}
nav li a{
text-decoration:none ;
color:#735F32;
padding: 40px 10px;
font-size: 30px;
}
button{
background-color: white;
border-radius: 200px;
cursor: pointer;
font-size: 20px;
color:#C147E9;
padding: 10px 10px;
font-weight: bold;
}
button:hover{
background-color: whitesmoke;
}


